interface {{pascalCase name}}Props {

}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => {
  return (
    <div>{{pascalCase name}} works!</div>
  );
};

export default {{pascalCase name}};